<!-- <sb-layout-dashboard><sb-dashboard-head title="Dashboard" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <sb-dashboard-cards></sb-dashboard-cards>
    <sb-dashboard-charts></sb-dashboard-charts>
    <sb-dashboard-tables></sb-dashboard-tables>
</sb-layout-dashboard> -->


<sb-layout-dashboard>
    <sb-dashboard-head title="Dashboard" [hideBreadcrumbs]="false"></sb-dashboard-head>

<!-- Cards -->
<div class="row">
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="dia10" >
            <div class="card-body" (click)="show10dias()">+10 Dias</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div style="font-size: 12px;">{{emailsNaoLidosCount[0].total10}} e-mails não lidos</div>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="dia07">
            <div class="card-body" (click)="show7dias()">7 Dias</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div style="font-size: 12px;">{{emailsNaoLidosCount[0].total7}} e-mails não lidos</div>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="dia05">
            <div class="card-body" (click)="show5dias()">5 Dias</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div style="font-size: 12px;">{{emailsNaoLidosCount[0].total5}} e-mails não lidos</div>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="dia03">
            <div class="card-body" (click)="show3dias()">3 Dias</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div style="font-size: 12px;">{{emailsNaoLidosCount[0].total3}} e-mails não lidos</div>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="dia02">
            <div class="card-body" (click)="show2dias()">2 Dias</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div style="font-size: 12px;">{{emailsNaoLidosCount[0].total2}} e-mails não lidos</div>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="dia01">
            <div class="card-body" (click)="show1dia()">24Horas</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div style="font-size: 12px;">{{emailsNaoLidosCount[0].total1}} e-mails não lidos</div>
            </div>
        </sb-card-view-details>
    </div>
</div>
<!-- Final Cards -->


    <!-- Accordion -->
      <!-- <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-1')">Accordion #1</button> -->
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <div class="container" *ngFor= "let email of displayTela">
        <ngb-panel (click)="getHistorico(email.assunto)" title="{{email.assunto}}" >           
          <ng-template ngbPanelContent>       
            <div class="border border-dark" >                
                <h6>Data: {{email.dataChegadaOuEnvio}}</h6> 
                <h6>Remetente: {{email.remetente}}</h6> 
                <h6>Assunto: {{email.assunto}}</h6>
                <h6>Mensagem: {{email.emailBody}}</h6>
                <h6 style="text-align: right;"><a href={{email.webLink}} >RESPONDER </a></h6>
            </div>
            <!-- <table>
                <thead>
                    <tr>
                        <th class="col-lg-1">Data</th>                        
                        <th class="col-lg-3">Assunto</th>                        
                        <th class="col-lg-7">Mensagem</th>
                        <th class="col-lg-1">Responder</th>
                    </tr>
                </thead>
                <tbody *ngIf="historico.length > 0">                
                    <tr *ngFor="let detalhe of historico">                    
                        <td>{{email.dataChegadaOuEnvio}} </td>                        
                        <td>{{email.assunto}} </td>                        
                        <td>{{email.emailBody}} </td>
                        <td><a href={{email.webLink}}>Responder</a></td>
                    </tr>
                </tbody>
                <tbody *ngIf="historico.length === 0">
                    <tr>
                        <td rowspan="6">Não existem mais emails nesta conversa!</td>
                    </tr>
                </tbody>
            </table>             -->
            <button type="button" (click)="finalizarEmail(email.assunto)" class="btn btn-primary" style="float: right; margin-top: 40px; margin-bottom: 15px;">Finalizar e-mail</button>
          </ng-template>
        </ngb-panel>        
        </div>
    </ngb-accordion>
  <!-- Final Accordion -->

<!-- Gráficos -->
    <!-- <sb-dashboard-charts></sb-dashboard-charts> -->

<!-- Tabelas -->
    <!-- <sb-dashboard-tables></sb-dashboard-tables> -->
</sb-layout-dashboard>
