<!-- <sb-layout-dashboard><sb-dashboard-head title="Dashboard" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <sb-dashboard-cards></sb-dashboard-cards>
    <sb-dashboard-charts></sb-dashboard-charts>
    <sb-dashboard-tables></sb-dashboard-tables>
</sb-layout-dashboard> -->


<sb-layout-dashboard>
    <sb-dashboard-head title="Dashboard" [hideBreadcrumbs]="false"></sb-dashboard-head>

<!-- Cards -->
<div class="row">
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="dia10">
            <div class="card-body">10 Dias</div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="dia07">
            <div class="card-body">7 Dias</div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="dia05">
            <div class="card-body">5 Dias</div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="dia03">
            <div class="card-body">3 Dias</div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="dia02">
            <div class="card-body">2 Dias</div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="dia01">
            <div class="card-body">24Horas</div>
        </sb-card-view-details>
    </div>
</div>
<!-- Final Cards -->


    <ngb-accordion #acc="ngbAccordion">
        <ngb-panel id="toggle-1" title="Assunto E-mail">
          <ng-template ngbPanelContent>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et fringilla tortor, in scelerisque elit. 
                Vivamus turpis velit, malesuada sed augue et, vehicula faucibus dolor. Cras non odio et purus convallis 
                rhoncus hendrerit ultrices velit. Suspendisse nec viverra quam, sed gravida erat. Suspendisse mattis 
                porta dui, non scelerisque tortor mattis vel. Mauris commodo tempor dui ut lacinia. 
                Nam ac ligula condimentum, iaculis eros et, mollis elit. 
              <button type="button" class="btn btn-primary" style="float: right; margin-top: 40px;">Enviar e finalizar e-mail</button>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-2" title="Assunto E-mail">
            <ng-template ngbPanelContent>
                    Lorem ipsum dolor sit amet, ac maximus ligula congue. Aliquam at ornare leo, eu finibus augue. 
                    Aenean et ultrices leo. Etiam ut facilisis tortor, nec blandit nunc.
                    Mauris at libero consectetur, hendrerit libero vel, pellentesque augue.
              <button type="button" class="btn btn-primary" style="float: right; margin-top: 40px;">Enviar e finalizar e-mail</button>
            </ng-template>
          </ngb-panel>
      </ngb-accordion>
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-1')">Accordion #1</button>
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-2')">Accordion #2</button>

<!-- Gráficos -->
    <!-- <sb-dashboard-charts></sb-dashboard-charts> -->

<!-- Tabelas -->
    <!-- <sb-dashboard-tables></sb-dashboard-tables> -->
</sb-layout-dashboard>
